spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/floristeria_dev
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
      show-sql: true
      time-zone: America/Bogota
      properties:
        hibernate:
          format_sql: true
          use_sql_comments: true
          database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
